{% extends "base_page.html" %}

{% block page-title %}
Как появился проект?
{% endblock %}

{% block page-lead %}
Проект был выполнен в качетсве итоговой работы по курсу изучения Python
{% endblock %}

{% block content %}
Сайт позволяет повторять определение слов английского языка, которые встречаются при выполнении научной работы в узкой специальности.
Предполагается, что человек, встретивший незнакомое слово, занесет его определение в глобальный словарь. <br/> <br/>

<div class="col-lg-8">
    <a>Этот проект был сделан студентом <a href="https://mipt.ru">МФТИ</a> Минигалиевым Никитой.</a>
</div>
{% endblock %}